
.codeblock-wrapper {
  background-color: var(--bg);
  margin-top: 3rem;
  display: none; // initial state
}

.codeblock {
  line-height: 1.8;
  font-size: 0.9em;
  padding: 1rem 2rem 2rem 2rem;
  overflow: auto;

  &__header {
    height: 3rem;
    display: flex;
    transition: background-color 0.3s ease;

    &--message {
      background-color: var(--message-bg);
    }
  }

  &__copy-button {
    height: 100%;
    padding: 1rem;
    fill: var(--primary);
    background-color: var(--bg-darker);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 3rem;
  }
}



.message-box {
  color: var(--message-text);
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0 2rem;
  flex-grow: 1;
  opacity: 0;
  transition: opacity 0.3s ease;

  &--visible {
    opacity: 1;
  }
}


// Animation on active
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
