/*
--------------------------------------------------------------------------
  Custom style for inputs
--------------------------------------------------------------------------
*/

.fieldset {
  margin-bottom: 2rem;

  &__title {
    color: var(--title);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0 0 1rem 0;
  }
}

/*
--------------------------------------------------------------------------
  form settings
--------------------------------------------------------------------------
*/
.form-settings {

  label {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.3em 0;
  }

  input {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;

    &:focus {
      // keyboard-nav add the focus to the before when input is focus
      + label::before {
        outline: 1px solid #c4cad2;
        outline-offset: 2px;
      }
    }
  }

  input[type='checkbox'],
  input[type='radio'] {
    + label::before {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.8em;
      background-color: #c4cad2;
      vertical-align: middle;
      cursor: pointer;
      content: '';
      transition: background-color 0.2s ease;

    }

    &:checked + label::before {
      background-color: var(--primary);
    }
  }

  input[type='radio'] + label::before {
    border-radius: 50%;
  }

}

/*
--------------------------------------------------------------------------
  form sizes
--------------------------------------------------------------------------
*/

.form-sizes {
  border-top: 1px solid var(--bg);
  padding-top: 2rem;
  margin-top: 2rem;

  &__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;

    @include media-up(lg) {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
  }

  input[type='number'] {
    background-color: var(--bg);
    appearance:none;
    box-shadow: none;
    border: 1px solid var(--white);
    height: 3em;
    font-size: 16px;
    padding: 0.5em;
    -webkit-appearance: none; // hide arrow
    -webkit-outer-spin-button: none;
    -webkit-inner-spin-button: none;
    -moz-appearance: textfield; // hide arrow

    &.error {
      border: 1px solid var(--error);
      margin-bottom: 1rem;
      transition: border 0.2s;
    }
  }

  label {
    font-size: 13px;
    color: var(--primary);
    margin-bottom: 6px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__validation {
    font-size: 14px;
    line-height: 1.2;
    color: var(--error);
  }

}


/*
--------------------------------------------------------------------------
  button
--------------------------------------------------------------------------
*/

button[type='submit'] {
  display: inline-block;
  padding: 0.5em 2em;
  border: 0;
  outline: none;
  background-color: var(--primary);
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  appearance: none;
  border-radius: 2em;
  color: var(--white);

  &[disabled],
  &:disabled,
  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }

}
