/*
--------------------------------------------------------------------------
  Container classes
--------------------------------------------------------------------------
*/

.header {
  right: 0;
  height: 3.6rem;
  padding: .7rem 1.5rem;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;

  &__name {
    font-size: 1.3rem;
    font-weight: 600;
    color: #2c3e50;
    position: relative;
  }
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;

  @include media-up(md) {
    grid-template-columns: 320px 1fr;
  }
}

.sidebar {
  padding: 2rem 2rem;
  background-color: var(--bg);
  overflow: auto;

  @include media-up(md) {
    padding: 3rem 2rem;
  }
}

.content {
  padding: 2rem 2rem;
  overflow: auto;

  @include media-up(md) {
    padding: 3rem 2rem;
  }

  @include media-up(xl) {
    padding: 3rem 3.5rem;
  }
}
