/*
--------------------------------------------------------------------------
  Root
--------------------------------------------------------------------------

  root use smaller font-size for better spacing consistency when using rem

*/

:root {
  --bg: #f1f5f8;
  --bg-darker: #d9dfe3;
  --primary: #23599f;
  --white: #fff;
  --error: #e85454;
  --text: #2c3e50;
  --title: #1e2c39;
  // message
  --message-bg: #def4c7;
  --message-border: #c4d8ae;
  --message-text: #414839;
}
/*
--------------------------------------------------------------------------
  Body
--------------------------------------------------------------------------
*/

body {
  background-color: var(--white); // As a best practice, apply a default background-color
  color: var(--text);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  text-align: left;
}

/*
--------------------------------------------------------------------------
  Placeholder
--------------------------------------------------------------------------
*/

::placeholder {
  color: #2c3e50;
  opacity: 1;
}

/*
--------------------------------------------------------------------------
  Focus
--------------------------------------------------------------------------

  Focus outline is set to none, but if user press the Tab key,
  the outline focus class is added to body with JS for a11y

*/

:focus {
  outline: none;

  .outline-focus & {
    outline: thin dotted;
    outline-color: #80828a;
  }
}

::-moz-focus-inner {
  border-style: none; // Remove the inner border and padding in Firefox
  padding: 0;
}
